In [55]:
from flask import Flask
from flask import render_template
import datetime
import os
import numpy as np
import pandas as pd
import mysql.connector


try:
    connection = mysql.connector.connect(host="localhost",
                                   user  ="root",
                                     passwd="",
                                   db="northwind",
                                     auth_plugin='mysql_native_password')

    tables=pd.read_sql_query("SHOW TABLES FROM northwind",connection)

except:
    pass
# Chart1 """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
try:
    salesBycompanies=pd.read_sql_query("""
    SELECT c.Company,
    SUM((od.Quantity * od.Unit_Price)) AS Total
    FROM Customers c
    INNER JOIN Orders o
    ON c.ID = o.Customer_ID
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY  c.Company
    ORDER BY Total DESC;
    
    """,connection)
    salesBycompanies.to_csv("salesBycompanies.csv")
except:
    salesBycompanies=pd.read_csv("salesBycompanies.csv")

try:
    Top10Products = pd.read_sql_query("""
    SELECT p.Product_Name, SUM(od.Quantity) AS `Total Units Sold`
    FROM
    Orders o
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY p.Product_Name
    ORDER BY `Total Units Sold` DESC LIMIT 5;
    
    
    """,connection)
    Top10Products.to_csv("Top10Products.csv")
except:
    Top10Products=pd.read_csv("Top10Products.csv")

try:
    SalesByTime = pd.read_sql_query("""
    
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date;
    
    
    """,connection)
    SalesByTime.to_csv("SalesByTime.csv")
except:
    SalesByTime=pd.read_csv("SalesByTime.csv")
SalesByTime1=SalesByTime
try:

    SalesByMonth = pd.read_sql_query("""
    select month,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by month
    ;
    """,connection)
    SalesByMonth.to_csv("SalesByMonth.csv")
except:
    SalesByMonth=pd.read_csv("SalesByMonth.csv")


try:
    SalesByYear = pd.read_sql_query("""
    select year,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        year(o.Shipped_Date) as year
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by year
    ;
    """,connection)
    SalesByYear.to_csv("SalesByYear.csv")
except:
    SalesByYear=pd.read_csv("SalesByYear.csv")
try:

    ProductsAboveAveragePrice = pd.read_sql_query("""
    SELECT Products.Product_Name ,
    Products.list_Price 
    FROM Products 
    WHERE (Products.list_Price) > ( SELECT AVG(list_Price) From Products ) 
    ORDER BY Products.list_Price DESC
    """,connection)
except:
    pass
try:
    SalesByCity = pd.read_sql_query("""
    select
    od.order_id, sum(od.quantity * od.unit_price) as sales, o.ship_city , o.ship_country_region
    from order_details od
    inner join orders o
    on  o.id = od.order_id
    group by o.ship_city, o.ship_country_region ;
    """,connection)
    SalesByCity.to_csv("SalesByCity.csv")
except:
    SalesByCity = pd.read_csv("SalesByCity.csv")
try:
    SalesBySuppliers = pd.read_sql_query("""
    SELECT
    s.company, sum(od.quantity * od.unit_price) as sales
    FROM
    order_details od
    inner join  products  p
    on  p.id = od.product_id
    inner JOIN suppliers s
    on s.id = p.supplier_ids
    group  by  s.company;
""",connection)
    SalesBySuppliers.to_csv("SalesBySuppliers.csv")
except:
    SalesBySuppliers=pd.read_csv("SalesBySuppliers.csv")

try:
    Top10Employees = pd.read_sql_query("""
    SELECT  o.employee_id,
    e.first_name, e.last_name, sum(od.quantity * od.unit_price) as totalsales
    FROM
    order_details od
    inner JOIN orders o
    on od.order_id = o.id
    inner join employees e
    on o.employee_id = e.id
    group by
    o.employee_id
    order by sum(od.quantity * od.unit_price) DESC ;
""",connection)
    Top10Employees.to_csv("Top10Employees.csv")
except:
    Top10Employees=pd.read_csv("Top10Employees.csv")

app = Flask(__name__)


@app.route("/",methods=["GET","POST"])
def chart():
    Company = list(salesBycompanies["Company"])
    TotalSales = list(salesBycompanies["Total"])
    Product_Name = list(Top10Products["Product_Name"])
    Total_Units_Sold = list(Top10Products["Total Units Sold"])
    Shipped_Date = [str(i) for i in SalesByTime["Shipped_Date"]]
    TotalSaless = [float(i.replace(",","")) for i in SalesByTime["Total"] ]
    Monthlysalestotal = [float(i) for i in SalesByMonth["total"]]
    MonthlysalesMonths = list(SalesByMonth["month"])
    Yearsalestotal = [float(i) for i in SalesByYear["total"]]
    Yearsales = list(SalesByYear["year"])
    TotalAllSales=sum(Yearsalestotal)


    mydate = datetime.datetime.now()
    mydate.strftime("%A")  # 'December'
    ThisYear = mydate.strftime("%Y")
    ThisMonth = mydate.strftime("%B")
    df = SalesByTime
    try:

        df['Qtr'] = df['Shipped_Date'].apply(lambda x: x.strftime('%m'))
        df['Qtr'] = pd.to_numeric(df['Qtr']) // 4 + 1
        df['Year'] = df['Shipped_Date'].apply(lambda x: x.strftime('%Y'))
        df['Qtr_Yr'] = df['Year'].astype(str) + '-Q' + df['Qtr'].astype(str)
        ThisMonthTotalSales = df[(df["Month"] == ThisMonth) & (df["Year"] == "ThisYear")]["Total"].sum()
    except:
        df['Shipped_Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in df['Shipped_Date']]
        df['Qtr'] = df['Shipped_Date'].apply(lambda x: x.strftime('%m'))
        df['Qtr'] = pd.to_numeric(df['Qtr']) // 4 + 1
        df['Year'] = df['Shipped_Date'].apply(lambda x: x.strftime('%Y'))
        df['Qtr_Yr'] = df['Year'].astype(str) + '-Q' + df['Qtr'].astype(str)
        ThisMonthTotalSales = df[(df["Month"] == ThisMonth) & (df["Year"] == "ThisYear")]["Total"].sum()
    Suppliers=list(SalesBySuppliers["company"])
    salesbysuppliersale=list(SalesBySuppliers["sales"])
    cities= list(SalesByCity["ship_city"])
    salesCitysales = list(SalesByCity["sales"])
    employeeid=list(Top10Employees["first_name"])

In [61]:
Top10Employeess=Top10Employees.T

In [62]:
Top10Employees.shape[0]

8

In [63]:
Top10Employeess

,0,1,2,3,4,5,6,7
employee_id,1,9,6,4,3,7,2,8
first_name,Nancy,Anne,Michael,Mariya,Jan,Robert,Andrew,Laura
last_name,Freehafer,Hellung-Larsen,Neipper,Sergienko,Kotas,Zare,Cencini,Giussani
totalsales,22255.25,19974.25,6378.0,6278.0,5787.5,3786.5,2997.5,680.0

In [64]:
employee0=list(Top10Employeess[0])
employee1 = list(Top10Employeess[1])
employee2 = list(Top10Employeess[2])
employee3 = list(Top10Employeess[3])
employee4 = list(Top10Employeess[4])

In [65]:
employee0

[1, 'Nancy', 'Freehafer', 22255.25]