In [5]:
from flask import Flask
from flask import render_template
import datetime
import os
import numpy as np
import pandas as pd
import mysql.connector


try:
    connection = mysql.connector.connect(host="localhost",
                                   user  ="root",
                                     passwd="",
                                   db="northwind",
                                     auth_plugin='mysql_native_password')

    tables=pd.read_sql_query("SHOW TABLES FROM northwind",connection)

except:
    pass
# Chart1 """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
try:
    salesBycompanies=pd.read_sql_query("""
    SELECT c.Company,
    SUM((od.Quantity * od.Unit_Price)) AS Total
    FROM Customers c
    INNER JOIN Orders o
    ON c.ID = o.Customer_ID
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY  c.Company
    ORDER BY Total DESC;
    
    """,connection)
    salesBycompanies.to_csv("salesBycompanies.csv")
except:
    salesBycompanies=pd.read_csv("salesBycompanies.csv")

try:
    Top10Products = pd.read_sql_query("""
    SELECT p.Product_Name, SUM(od.Quantity) AS `Total Units Sold`
    FROM
    Orders o
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY p.Product_Name
    ORDER BY `Total Units Sold` DESC LIMIT 5;
    
    
    """,connection)
    Top10Products.to_csv("Top10Products.csv")
except:
    Top10Products=pd.read_csv("Top10Products.csv")

try:
    SalesByTime = pd.read_sql_query("""
    
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date;
    
    
    """,connection)
    SalesByTime.to_csv("SalesByTime.csv")
except:
    SalesByTime=pd.read_csv("SalesByTime.csv")
try:

    SalesByMonth = pd.read_sql_query("""
    select month,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by month
    ;
    """,connection)
    SalesByMonth.to_csv("SalesByMonth.csv")
except:
    SalesByMonth=pd.read_csv("SalesByMonth.csv")


try:
    SalesByYear = pd.read_sql_query("""
    select year,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        year(o.Shipped_Date) as year
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by year
    ;
    """,connection)
    SalesByYear.to_csv("SalesByYear.csv")
except:
    SalesByYear=pd.read_csv("SalesByYear.csv")
try:

    ProductsAboveAveragePrice = pd.read_sql_query("""
    SELECT Products.Product_Name ,
    Products.list_Price 
    FROM Products 
    WHERE (Products.list_Price) > ( SELECT AVG(list_Price) From Products ) 
    ORDER BY Products.list_Price DESC
    """,connection)
except:
    pass
Company = list(salesBycompanies["Company"])
TotalSales = list(salesBycompanies["Total"])
Product_Name = list(Top10Products["Product_Name"])
Total_Units_Sold = list(Top10Products["Total Units Sold"])
Shipped_Date = [str(i) for i in SalesByTime["Shipped_Date"]]

TotalSaless = [float(i.replace(",","")) for i in SalesByTime["Total"] ]
Monthlysalestotal = [float(i) for i in SalesByMonth["total"]]
MonthlysalesMonths = list(SalesByMonth["month"])
Yearsalestotal = [float(i) for i in SalesByYear["total"]]
Yearsales = list(SalesByYear["year"])
TotalAllSales=sum(Yearsalestotal)
SalesByTime["Total"]=[float(i.replace(",","")) for i in SalesByTime["Total"] ]
print(SalesByTime)

   Shipped_Date  ID     Total     Month
0    2006-01-22  30   1505.00   January
1    2006-01-22  32   1190.00   January
2    2006-01-22  31    865.00   January
3    2006-01-31  33    276.00   January
4    2006-02-07  34    184.00  February
5    2006-02-12  35    127.50  February
6    2006-02-25  36   1930.00  February
7    2006-03-09  37    680.00     March
8    2006-03-11  38  13800.00     March
9    2006-03-24  40    598.00     March
10   2006-03-24  39   1275.00     March
11   2006-04-03  56    127.50     April
12   2006-04-05  51   1375.25     April
13   2006-04-05  46   3690.00     April
14   2006-04-05  50    200.00     April
15   2006-04-05  48   1230.00     April
16   2006-04-05  55   1218.00     April
17   2006-04-07  45   1402.50     April
18   2006-04-07  42    562.00     April
19   2006-04-08  47   4200.00     April
20   2006-04-22  58   3520.00     April
21   2006-04-25  63    620.00     April
22   2006-04-30  60   1392.00     April
23   2006-05-24  67    200.00       May
24   2006-06-05  73     96.50      June
25   2006-06-05  76    660.00      June
26   2006-06-05  75    510.00      June
27   2006-06-05  78   1560.00      June
28   2006-06-05  77   2250.00      June
29   2006-06-07  72    230.00      June
30   2006-06-08  74    510.00      June
31   2006-06-23  79   2490.00      June

In [18]:
SalesByTime["Shipped_Date"].to_list()

[datetime.date(2006, 1, 22),
 datetime.date(2006, 1, 22),
 datetime.date(2006, 1, 22),
 datetime.date(2006, 1, 31),
 datetime.date(2006, 2, 7),
 datetime.date(2006, 2, 12),
 datetime.date(2006, 2, 25),
 datetime.date(2006, 3, 9),
 datetime.date(2006, 3, 11),
 datetime.date(2006, 3, 24),
 datetime.date(2006, 3, 24),
 datetime.date(2006, 4, 3),
 datetime.date(2006, 4, 5),
 datetime.date(2006, 4, 5),
 datetime.date(2006, 4, 5),
 datetime.date(2006, 4, 5),
 datetime.date(2006, 4, 5),
 datetime.date(2006, 4, 7),
 datetime.date(2006, 4, 7),
 datetime.date(2006, 4, 8),
 datetime.date(2006, 4, 22),
 datetime.date(2006, 4, 25),
 datetime.date(2006, 4, 30),
 datetime.date(2006, 5, 24),
 datetime.date(2006, 6, 5),
 datetime.date(2006, 6, 5),
 datetime.date(2006, 6, 5),
 datetime.date(2006, 6, 5),
 datetime.date(2006, 6, 5),
 datetime.date(2006, 6, 7),
 datetime.date(2006, 6, 8),
 datetime.date(2006, 6, 23)]

In [38]:
import datetime
mydate = datetime.datetime.now()
mydate.strftime("%A") # 'December'
ThisYear=mydate.strftime("%Y")

ThisMonth=mydate.strftime("%B")

'March'

In [15]:
mydate

datetime.datetime(2021, 3, 12, 16, 20, 10, 12289)

In [27]:
df=SalesByTime

In [43]:
import datetime
mydate = datetime.datetime.now()
mydate.strftime("%A") # 'December'
ThisYear=mydate.strftime("%Y")

ThisMonth=mydate.strftime("%B")

df=SalesByTime
df['Qtr'] = df['Shipped_Date'].apply(lambda x: x.strftime('%m'))

df['Qtr'] = pd.to_numeric(df['Qtr'])//4+1

df['Year'] = df['Shipped_Date'].apply(lambda x: x.strftime('%Y'))

df['Qtr_Yr'] = df['Year'].astype(str) + '-Q' + df['Qtr'].astype(str)
ThisMonthTotalSales=df[(df["Month"]==ThisMonth)&(df["Year"]=="ThisYear")]["Total"].sum()

In [44]:
ThisMonthTotalSales

0.0

0.0