In [2]:
from flask import Flask
from flask import render_template
import datetime
import os
import numpy as np
import pandas as pd
import mysql.connector


try:
    connection = mysql.connector.connect(host="localhost",
                                   user  ="root",
                                     passwd="",
                                   db="northwind",
                                     auth_plugin='mysql_native_password')

    tables=pd.read_sql_query("SHOW TABLES FROM northwind",connection)

except:
    pass
# Chart1 """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
try:
    salesBycompanies=pd.read_sql_query("""
    SELECT c.Company,
    SUM((od.Quantity * od.Unit_Price)) AS Total
    FROM Customers c
    INNER JOIN Orders o
    ON c.ID = o.Customer_ID
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY  c.Company
    ORDER BY Total DESC;
    
    """,connection)
    salesBycompanies.to_csv("salesBycompanies.csv")
except:
    salesBycompanies=pd.read_csv("salesBycompanies.csv")

try:
    Top10Products = pd.read_sql_query("""
    SELECT p.Product_Name, SUM(od.Quantity) AS `Total Units Sold`
    FROM
    Orders o
    inner join
    `Order_Details` od
    ON o.ID = od.Order_ID
    INNER JOIN
    Products p
    ON od.Product_ID = p.ID
    GROUP BY p.Product_Name
    ORDER BY `Total Units Sold` DESC LIMIT 5;
    
    
    """,connection)
    Top10Products.to_csv("Top10Products.csv")
except:
    Top10Products=pd.read_csv("Top10Products.csv")

try:
    SalesByTime = pd.read_sql_query("""
    
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date;
    
    
    """,connection)
    SalesByTime.to_csv("SalesByTime.csv")
except:
    SalesByTime=pd.read_csv("SalesByTime.csv")
SalesByTime1=SalesByTime
try:

    SalesByMonth = pd.read_sql_query("""
    select month,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        monthname(o.Shipped_Date) as Month
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by month
    ;
    """,connection)
    SalesByMonth.to_csv("SalesByMonth.csv")
except:
    SalesByMonth=pd.read_csv("SalesByMonth.csv")


try:
    SalesByYear = pd.read_sql_query("""
    select year,sum(total) as total
    from (
    select distinct date(o.Shipped_Date) as Shipped_Date, 
        o.ID, 
        od.Total, 
        year(o.Shipped_Date) as year
    from Orders o
    inner join
    ( select distinct Order_ID, 
            format(sum(Unit_Price * Quantity * (1 - Discount)), 2) as total
        from `order_details`
        group by Order_ID    
    ) od on o.ID = od.Order_ID
    where o.Shipped_Date is not null
        and o.Shipped_Date between date('2000-12-24') and date('2008-09-30')
    order by Shipped_Date) t
    group by year
    ;
    """,connection)
    SalesByYear.to_csv("SalesByYear.csv")
except:
    SalesByYear=pd.read_csv("SalesByYear.csv")
try:

    ProductsAboveAveragePrice = pd.read_sql_query("""
    SELECT Products.Product_Name ,
    Products.list_Price 
    FROM Products 
    WHERE (Products.list_Price) > ( SELECT AVG(list_Price) From Products ) 
    ORDER BY Products.list_Price DESC
    """,connection)
except:
    pass
try:
    SalesByCity = pd.read_sql_query("""
    select
    od.order_id, sum(od.quantity * od.unit_price) as sales, o.ship_city , o.ship_country_region
    from order_details od
    inner join orders o
    on  o.id = od.order_id
    group by o.ship_city, o.ship_country_region ;
    """,connection)
    SalesByCity.to_csv("SalesByCity.csv")
except:
    SalesByCity = pd.read_csv("SalesByCity.csv")
try:
    SalesBySuppliers = pd.read_sql_query("""
    SELECT
    s.company, sum(od.quantity * od.unit_price) as sales
    FROM
    order_details od
    inner join  products  p
    on  p.id = od.product_id
    inner JOIN suppliers s
    on s.id = p.supplier_ids
    group  by  s.company;
""",connection)
except:
    pass

In [7]:
SalesByCity

    Unnamed: 0  order_id     sales       ship_city ship_country_region
0            0        41  13800.00           Boise                 USA
1            1        40   2272.50         Chicago                 USA
2            2        35   2905.50          Denver                 USA
3            3        30   2695.00       Las Vegas                 USA
4            4        36   2550.00     Los Angelas                 USA
5            5        38  15432.50         Memphis                 USA
6            6        43   4644.75           Miami                 USA
7            7        37   8007.50       Milwaukee                 USA
8            8        31   4949.00        New York                 USA
9            9        33   4683.00        Portland                 USA
10          10        46   3786.50  Salt Lake City                 USA
11          11        44   2410.75         Seattle                 USA

In [40]:
df1=pd.DataFrame(list(SalesByCity["sales"]),index=SalesByCity["ship_city"])

In [42]:
keys_list = list(SalesByCity["ship_city"])
values_list = list(SalesByCity["sales"])
zip_iterator = zip(keys_list, values_list)
cities = dict(zip_iterator)

In [43]:
a_dictionary

{'Boise': 13800.0,
 'Chicago': 2272.5,
 'Denver': 2905.5,
 'Las Vegas': 2695.0,
 'Los Angelas': 2550.0,
 'Memphis': 15432.5,
 'Miami': 4644.75,
 'Milwaukee': 8007.5,
 'New York': 4949.0,
 'Portland': 4683.0,
 'Salt Lake City': 3786.5,
 'Seattle': 2410.75}